@{
    ViewData["Title"] = "Crear";
}
@model Proyecto_Bb_2.Models.Registro
<!DOCTYPE html>
<html lang="es">
    <head>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de Contactos</title>
    </head>
    <body>
        <header>

        </header>
        <main>

        </main>
        <footer>
            <p>Todos los derechos reservados. Juan Jose Tito</p>
        </footer>
    </body>
</html>
