@model Proyecto_Bb_2.Models.RegistroAc

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="~/css/site.css" as="style" />
        <link rel="stylesheet" href="~/css/site.css" />
        <title>Editar Actividad</title>
    </head>
    <body>
        <div>
            <h2>Editar actividad</h2>
        </div>
        <main>
            <form asp-action="Editar" method="post">
                <fieldset>
                    <legend>Puedes editar la actividad con el formulario</legend>
                    <input type="hidden" asp-for="Id" />
                    <div>
                        <div>
                            <label asp-for="Titulo">Titulo</label>
                            <input type="text" asp-for="Titulo"/>
                            <span asp-validation-for="Titulo"></span>
                        </div>
                        <div>
                            <label asp-for="Fecha">Fecha de la actividad</label>
                            <input type="datetime-local" asp-for="Fecha" required />
                            <span asp-validation-for="Fecha"></span>
                        </div>
                        <div>
                            <label asp-for="Descripcion">Descripcion</label>
                            <textarea asp-for="Descripcion" placeholder="Agrega una descripcion"></textarea>
                            <span asp-validation-for="Descripcion"></span>
                        </div>
                        <div>
                            <label asp-for="Notificacion">Notificación</label>
                            <input type="checkbox" asp-for="Notificacion" />
                        </div>
                        <div>
                            <button type="submit">Actualizar</button>
                        </div>
                    </div>
                </fieldset>
                
            </form>
        </main>
    </body>
</html>
